/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #333;
    line-height: 1.6;
    width: 100vw;
    height: 100vh;
}

/* Header Section */
.header {
    background-color: #B22222; /* Red */
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header .logo {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 20px;
}

input{
    font-size: 1rem;
    padding: 50px;
    width: 100%;
    margin-bottom: 15px;
    background-color: #e6e6e6;
    border: 3px solid #B22222;
}

input:focus {
    background-color: #e2eaf3;
}

#login-email {
    margin-top: 80px;
}

.signup-text {
    color: #cccccc;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #FFD700; /* Gold color */
}

/* Main Section */
.main-section {
    height: 100vh;
    background-color: #000; /* Black */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px; /* To account for fixed header */
}

.main-section .content {
    max-width: 600px;
}

.main-section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.main-section p {
    font-size: 1.3rem;
    margin-bottom: 30px;
}

/* Buttons */
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 12px 30px;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.btn-login {
    background-color: #FFD700;
    color: #333;
    border: 2px solid #FFD700;
    border-radius: 5px;
}

.btn-login:hover {
    background-color: white;
    color: #FFD700;
}

.btn-signup {
    background-color: #B22222;
    color: #333;
    border: 2px solid #B22222;
    border-radius: 5px;
}

.btn-signup:hover {
    background-color: white;
    color: #B22222;
}

/* incremental button css */
.incremental-button{
    &.up {
        border-bottom: 100px solid crimson;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        &:hover {
            border-bottom-color: black;
        }
    }
    
    &.down {
        border-top: 100px solid purple;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        &:hover {
            border-top-color: black;
        }
    }
}
up-down-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.up-down-number{
    border: 5px dotted red;
    width: 250px;
    text-align: center;
    font-size: 40px;
    height: 220px;
    padding: 0 30px;
    margin-left: 50px;
}

footer {
    background-color: #B22222;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .header .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        margin-top: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .main-section h2 {
        font-size: 2rem;
    }

    .main-section p {
        font-size: 1rem;
    }

    .btn {
        padding: 10px 20px;
        font-size: 1rem;
    }
}
